div.wrapper {
  min-height: calc(100vh - ((20px + 2*(var(--wrapper-top))) + 2*(var(--wrapper-top))));
}

.content_master {
  margin: 0 auto 30px;
  padding: 40px 40px 1px;
  background-color: var(--red_d2);
}

.loader {
  margin-bottom: 39px;
}

.cmd_filters {
  display: flex;
  justify-content: space-between;
}

.cmd_filters > * {
  margin-bottom: 40px;
}
 
#cmd_category {
  padding: 6px 12px;
  background-color: var(--red);
  border-style: none;
  font-family: 'gt_walsheim_pro';
}

#cmd_category:focus {
  outline: none;
}

#cmd_category {
  min-width: 270px;
  height: 38px;
}

.cmd_container {
  background-color: var(--red_d);
  padding: 15px 25px;
  margin-bottom: 30px;
}

.cmd_container > .line {
  margin: 12px 0 10px;
}

.cmd_title {
  margin: 0 0 5px;
}

.cmd_description  > * {
  display: inline;
  vertical-align: middle;
}

.cmd_description code {
  font-size: 15px;
}

.cmd_description p {
  margin: 0;
  display: inherit;
  line-height: 1.6;
}

.cmd_description > div.collapse {
  display: none;
}

.cmd_description > a {
  display: inline-block;
  margin-left: 5px;
  padding: 2px 5px;
}

.cmd_description > a::after {
  content: 'show more';
}
.cmd_description > a.collapse::after {
  content: 'show less'
}

.cmd_tiles {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cmd_tiles.options > .cmd_tile {
  cursor: pointer;
}

.cmd_tile {
  display: inline-block;
  padding: 3px 25px;
  margin: 5px 8px 5px 0;
  background-color: var(--white);
  color: var(--red);
}

.cmd_tile .line.vertical {
  opacity: 1;
  height: 23px;
  background-color: var(--grey);
  margin: 0 8px -6px;
}

.cmd_tile .line.vertical:last-child {
  display: none;
}

.cmd_tiles.maximized > .cmd_tile {
  display: block;
  background-color: transparent;
  margin: 5px 0;
  cursor: auto;
  overflow: auto;
  padding: 5px 0;
  white-space: nowrap;
}

.cmd_tiles.maximized > .cmd_tile span {
  padding: 3px 15px;
}

.cmd_tiles.maximized > .cmd_tile span:first-child {
  background-color: var(--white);
  color: var(--red);
  border-radius: 3px 0 0 3px;
}
.cmd_tiles.maximized > .cmd_tile span:last-child {
  border-radius: 0 3px 3px 0;
} 

.cmd_tiles.maximized > .cmd_tile span:only-child {
  border-radius: 3px;
}

.cmd_tiles.maximized > .cmd_tile span:nth-child(n+2) {
  background-color: var(--red);
  color: var(--white);
}

#scrollToTop > img {
  width: 20px;
  height: auto;
  padding: 20px;
  transform: rotate(180deg);
  background-color: var(--red_d);
  border-radius: 50%;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.34);
}

@media screen and (max-width: 962px) {
  .content_master {
    padding: 20px 20px 1px;
  }
  .loader {
    margin-bottom: 19px;
  }  
  .line {
    margin: 10px 0;
  }
  .cmd_container {
    margin-bottom: 20px;
  }
  .cmd_filters {
    flex-direction: column;
  }
  .cmd_filters > * {
    margin-bottom: 20px;
  }
  #cmd_category {
    width: 100%;
    min-width: 0;
  }
}